<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://badoystudio.com/cloudme.fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

<!-- The Grid -->
<div class="w3-row-padding">

<!-- Left Column -->
<div class="w3-third">

<div class="w3-white w3-text-grey w3-card-4">
<div class="w3-display-container">
<img src="static/img/Perkap.jpg" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-black">
<h2>Ahmad Sulthon Al Ayyubi</h2>
</div>
</div>
<div class="w3-container">
<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Mahasiswa</p>
<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Pamekasan, Jawa Timur</p>
<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>ahmadsulthonalayyubi@gmail.com</p>
<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>085258219956</p>
<hr>

<p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
<p>Adobe Primier Pro</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
</div>
<p>Adobe Photoshop</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
<div class="w3-center w3-text-white">80%</div>
</div>
</div>
<p>Adobe After Effect</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
</div>
<p>Adobe Illustrator</p>
<div class="w3-light-grey w3-round-xlarge w3-small">
<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
</div>
<br>

<p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
<p>Madura</p>
<div class="w3-light-grey w3-round-xlarge">
<div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
</div>
<p>Indonesia</p>
<div class="w3-light-grey w3-round-xlarge">
<div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
</div>
<p>English</p>
<div class="w3-light-grey w3-round-xlarge">
<div class="w3-round-xlarge w3-teal" style="height:24px;width:50%"></div>
</div>
<br>
</div>
</div><br>

<!-- End Left Column -->
</div>

<!-- Right Column -->
<div class="w3-twothird">

<div class="w3-container w3-card w3-white w3-margin-bottom">
<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Organization</h2>
<div class="w3-container">
<h5 class="w3-opacity"><b>BEMF MIPA</b></h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
<p>BEM atau Badan Eksekutif Mahasiswa merupakan organisasi yang kegiatannya sangat direkomendasikan untuk diikuti oleh mahasiswa. Sesuai dengan namannya, Badan Eksekutif Mahasiswa sebagai organisasi mahasiswa untuk tingkat Universitas ataupun institute. Tugas Dari BEM tersebut pun melingkupi banyak hal. Mulai melaksanakan program kerja (proker) yang ada di kampus hingga menjadi perwakilan aspirasi mahasiswa.</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-opacity"><b>IONS</b></h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019-2020</h6>
<p>IONS atau Islamic Organization of Mathematic and Natural Sience merupakan Unit Kegiatana Mahasiswa Kerohanian Islam atau biasa disebut dengan UKMKI yang berada di Fakultas Matematika dan Ilmu Pengetahuan Alam Universitas Jember. IONS telah berdiri selama 24 tahun tepatnya tanggal 20 Oktober 1997. IONS juga merupakan Unit Kegiatan Mahasiswa yang berbasis keislaman pertama di FMIPA. Dalam menjalankan organisasi IONS berpegang pada Al Qur’an dan As Sunnah sebagai pedomannya.</p>
<hr>
</div>
</div>

<div class="w3-container w3-card w3-white">
<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
<div class="w3-container">
<h5 class="w3-opacity"><b>UNIVERSITAS JEMBER</b></h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
<p>Program Studi Matematika</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-opacity"><b>SMAN 3 PAMEKASAN</b></h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2018</h6>
<p>IPA</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-opacity"><b>MTSN 3 PAMEKASAN</b></h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
<p>IPA</p>
<hr>
</div>
<div class="w3-container">
<h5 class="w3-opacity"><b>SDN PAKONG 7</b></h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2006 - 2012</h6>
<p>-</p><br>
</div>
</div>

<!-- End Right Column -->
</div>

<!-- End Grid -->
</div>

<!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
<p>Find me on social media.</p>
<i class="fa fa-facebook-official w3-hover-opacity"></i>
<i class="fa fa-instagram w3-hover-opacity"></i>
<i class="fa fa-snapchat w3-hover-opacity"></i>
<i class="fa fa-pinterest-p w3-hover-opacity"></i>
<i class="fa fa-twitter w3-hover-opacity"></i>
<i class="fa fa-linkedin w3-hover-opacity"></i>
<p>My Whatsapp <a href="https://wa.widget.web.id/ee16c0" target="_blank">klik</a></p>
</footer>

</body>
</html>