{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <center>
  <title>Hello, world!</title>
  </center>
{% endblock meta %}

{% block content %}
  <center>
  <h1 style="color:pink">ASSALAMU'ALAIKUM WR. WB.</h1>
  <h1 style="color:pink">Hello, Welcome To My Project!</h1>
  <h2 style="color:pink"><font face="comic sans ms">AHMAD SULTHON AL AYYUBI (191810101077)</font><br></h2>
  <h2 style="color:pink"><font face="comic sans ms">FAKULTAS MATEMATIKA DAN ILMU PENGETAHUAN ALAM</font><br></h2>
  <h2 style="color:pink"><font face="comic sans ms">UNIVERSITAS JEMBER</font><br></h2>
  <p><img src="{% static 'img/Ahmad sulthon_Perkap.svg' %}" style="height:7cm"></p>
  </center>
{% endblock content %}